.DS_Store
Thumbs.db

__pycache__/
*.pyc

.venv/
venv/

.env
.env.*
!.env.example

.vscode/
.idea/

build/
dist/

*.bak

cache/
results/
config/
scripts/

build.py
bootstrap.py
