.DS_Store
Thumbs.db

__pycache__/
*.pyc

.venv/
venv/

.vscode/
.idea/

build/
dist/

.env
*.bak

src/results/
src/cache/
src/assets/images/
src/csv/
src/maps

scripts/strip_comments.py

log.txt

src/config/

build.py