.DS_Store
Thumbs.db

__pycache__/
*.pyc

.venv/
venv/

.vscode/
.idea/

build/
dist/

osu-tools/

.env
*.bak

src/results/
src/cache/
src/assets/images/avatar
src/assets/images/cover
src/csv/
src/maps

scripts/strip_comments.py

src/project/log.txt
src/project/temp.py
src/project/temp2.py
src/project/temp3.py
src/project/temp4.py

src/config/